.contenedor-testimonio{
    min-height: 168px;
    margin: 10px 10px 50px;
    box-shadow: 0 10px 33px 1px rgb(0 0 0 / 20%);
}

.imagen-testimonio{
    max-height: 250px;
    max-width: 40%;
} 

.contenedor-texto-testimonio{
    line-height: 1.5rem;
}

.texto-testimonio{
    font-size: 1.1rem;
    text-align: justify;
}